/* Top Container */
html, body, #container {
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
}


/* #1 Navigation Panel */
.leading-white {
    padding-left: 15px;
}

#side-bar-component {
    margin: 3px 0 30px;
}

ul {
    list-style: none;
    padding-left: 0;
}


/* #2 Main Content */
#main {
    flex-grow: 1;
    height: 100%;
    display: flex;
    /* vertical flex-grow */
    flex-flow: column;
}

/* #2.1 Banner */
.banner {
    padding-left: 20px;
}

/* #2.2 Google Map */
#map-wrapper {
    flex-grow: 1;
}

#map {
    height: 100%;
}

#pano {
    width: 450px;
    height: 150px;
}